/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: clamp(14px, 1.5vw, 18px); /* Adjust the base font size */
}

/* For heading elements, adjust the clamp values accordingly to ensure they scale up more significantly */
h1 { font-size: clamp(24px, 5vw, 32px); }
h2 { font-size: clamp(20px, 4vw, 28px); }
h3 { font-size: clamp(18px, 3.5vw, 24px); }

/* Global styles */
body {
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  font-weight: bold;
}

.section {
  padding: 20px;
}

.section h2, #intro {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

#hr1 {
  width: 50%;
}

.section-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.animate {
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav, .mobile-nav ul li a, .menu-icon {
  display: none;
}

/* Responsive and Interaction Styles */
@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  nav li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .mobile-nav.active {
    display: block;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .mobile-nav.active ul {
    padding: 20px;
    background-color: #333;
    list-style: none;
    text-align: center;
  }

  .mobile-nav.active ul li {
    margin: 10px 0;
  }

  .mobile-nav.active ul li a {
    color: #fff;
    font-weight: bold;
  }
}

